---
layout: default
section_id: about

members:
  - name: Andrés Gonzales!
    position: Eventos
    desc:
      B.Sc. Ingeniería Eléctrica en TUM
    avatar: images/equipo/andres.jpg
    socials:
  - name: Arturo Buitrago
    position: Diseño Gráfico
    desc:
      M.Sc. Ingeniería Eléctrica en TUM
    avatar: images/equipo/arturo.jpg
    socials:
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/arturo-buitrago-m%C3%A9ndez-5903b5112/?locale=de_DE
  - name: Christa Stolz
    position: Medios
    desc:
      B.Sc. Comunicación en LMU
    avatar: images/equipo/christa.jpg
    socials:
  - name: Cristina Echeverría
    position: Medios
    desc:
      B.Sc. Comunicación en UCR
    avatar: images/equipo/cristina.jpg
    socials:
  - name: Daniel Carreón
    position: Eventos
    desc:
      M.Sc. Power Engineering en TUM
    avatar: images/equipo/daniel.jpg
    socials:
  - name: Esteban V. Prado
    position: Comunicación
    desc:
      B.Sc. Ingeniería Eléctrica en TUM
    avatar: images/equipo/esteban.jpg
    socials:
      - icon_class: fa fa-linkedin
        url: https://www.linkedin.com/in/estebanvprado/
  - name: Orlando Morales
    position: COMUNICACIÓN
    desc:
      B.Sc. TUM BWL
    avatar: images/equipo/orlando.jpg
    socials:
---

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Historia</h3>
      <div class='spacing'></div>
      <p>Inspirados por lo fascinante, pero retador de la vida estudiantil para un universitario en latinoamericano en Múnich nace la iniciativa de crear un ente, que amortigüe las problemáticas y ofrezca oportunidades.<p>
      <p>Actualmente la Sociedad Latinoamericana de Estudiantes en Múnich (o SLU Múnich) es un grupo de de 8 estudiantes, de 4 países (Costa Rica, Colombia, México y Guatemala) y 2 universidades en Múnich (TUM y LMU).<p>
      <p>Nuestra misión es empoderar y fomentar la comunidad universitaria de latinoamericanos en Múnich, sirviendo al mismo tiempo como un puente académico y profesional entre Múnich y Latinoamérica.<p>
      <p>En la primera etapa del proyecto, nos estamos enfocando en crear una comunidad digital, a través de contenido escrito y multimedia. Además apoyamos al orientar a estudiantes interesados en estudiar en Múnich, a través de información y ofreciendo contacto directo con estudiantes actuales. Por último organizamos algunos eventos pequeños.<p>
      <p>A largo plazo, queremos jugar un rol central en la creación de una comunidad universitaria latinoamericana activa y con un sentido de pertenencia, a través de contenido digital relevante, eventos, talleres y otras actividades; queremos además apoyar a la comunidad y generar oportunidades con una red académica y profesional en Múnich y Latinoamérica.<p>
    </div>
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>El Equipo</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for member in page.members %}
    <div class='small-6 medium-3 large-3 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class='overlay'>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{social.url}}'>
                    <i class='{{social.icon_class}}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>
<div class='three spacing'></div>
