---
layout: default
section_id: about
skills:
  - title: Web Design
    percent: 84
  - title: Web Development
    percent: 95
  - title: Site Management
    percent: 70
  - title: Branding
    percent: 61

members:
  - name: Andrés Gonzales
    position: Eventos
    desc:
      B.Sc. Ingeniería Eléctrica en TUM
	avatar: images/equipo/andres
    socials:
  - name: Arturo Buitrago
    position: Diseño Gráfico
    desc:
      M.Sc. Ingeniería Eléctrica en TUM
    avatar: images/equipo/arturo
    socials:
  - name: Christa Stolz
    position: Medios
    desc:
      Comunicación en LMU
    avatar: images/equipo/christa
    socials:
  - name: Cristina Echeverría
    position: Medios
    desc:
      Comunicación en UCR
    avatar: images/equipo/cristina
    socials:	
  - name: Daniel Carreón
    position: Eventos
    desc:
      M.Sc. Power Engineering en TUM
    avatar: images/equipo/daniel
    socials:
  - name: Esteban Vindas Prado
    position: Comunicación
    desc:
      B.Sc. Ingeniería Eléctrica en TUM
    avatar: images/equipo/esteban
    socials:
  - name: Orlando Morales
    position: Director de Revista Digital
    desc:
      B.Sc. TUM BWL
    avatar: images/equipo/orlando
---

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Our history</h3>
      <div class='spacing'></div>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
    </div>
    <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class="bars">
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percent}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percent}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>The team</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for member in page.members %}
    <div class='small-6 medium-3 large-3 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class='overlay'>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{social.url}}'>
                    <i class='{{social.icon_class}}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>
<div class='three spacing'></div>
